@page "/"

	<section>
		<article>
			<header />
			<div class="content">
				@if (this.Overview != null)
				{
					@foreach (var overviewEntry in this.Overview.Rows)
					{
						<h3>@overviewEntry.Header</h3>
						<p>@overviewEntry.Intro</p>
						<p>@overviewEntry.Published</p>
					}
					<Pagination PagedData="@this.Overview" PageChanged="@this.OnPageChanged" />
				}
			</div>
			<footer>
			</footer>
		</article>
	</section>
